.tariff_card {
    background: #BA80E6;
    padding: 4rem;
    height: auto;
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-bottom: 2rem;
    border-radius: 2rem;
    color: white;
    font-family: 'Montserrat';
    font-weight: normal;
    font-size: 1.4rem;
}

button {
    margin-top: 3rem;
    margin-bottom: 1rem;
    font-size: 15px;
}

.tariff_title {
    text-transform: uppercase;
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 0;
}

@media (max-width: 990px) {
    .tariff_card {
        font-size: 1.2rem;
        padding: 2rem;
    }
}

.about1 {
    background-image: url("/public/images/about1.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
.about2 {
    background-image: url("/public/images/about2.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

@media (max-width: 990px) {
    .about1, .about2 {
        background-image: none;
    }
}
